<div class="top-bar">
    <div class="top-bar-left">
        <div class="large-12 columns">
            <ul class="dropdown menu" data-dropdown-menu>
				<li><img src="assets\img\educat_logo.png" class="nav-img"></li>
                <li class="menu-text">educat e.V.</li>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="veranstaltungen.html">Veranstaltugnen</a>
                    <ul class="menu">
                        <li><a href="ostern2017.html">Ostercamp 2017</a></li>
                        <li><a href="sc2017.html">Science Camp 2017</a></li>
                    </ul>
                </li>
                <li><a href="ueberuns.html">Wir</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </div>
    </div>
</div>