<div class="expanded row" id="navContainer">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="title-bar" data-responsive-toggle="edu_topbar" data-hide-for="medium">
					<button class="dark menuIcon" type="button" data-toggle><i class="material-icons md-36">menu</i></button>
				</div>
				<div data-sticky-container>
					<div class="top-bar" id="edu_topbar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="box:bottom">
						<div class="top-bar-left">
							<ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown" data-back-button='<li class="js-drilldown-back"><a tabindex="0">Zurück</a></li>'>
								<li id="nav_img"><a href="/"><img src="/assets/img/educat_logo.png"></a></li>
								<li class="menu-text" id="navMainText"><a href="/" data-res="navTitle"></a></li>
								<li>
									<a href="/veranstaltungen/" data-res="navEventH"></a>
									<ul class="vertical menu">
										<li><a href="/veranstaltungen/ostern2017.html" data-res="navEventSub1"></a></li>
										<li>
                                            <a href="/veranstaltungen/sciencecamp/" data-res="navEventSub2"></a>
                                            <ul class="vertical menu">
                                                <li><a href="/veranstaltungen/sciencecamp/informationen.html">Informationen</a></li>
                                                <li><a href="/veranstaltungen/sciencecamp/anmeldung.html">Anmelden</a></li>
                                            </ul>
                                        </li>
										<li><a href="/veranstaltungen/archiv.html" data-res="navEventSubArchive"></a></li>
									</ul>
								</li>
								<li>
									<a href="/ueberuns/" data-res="navTeamH"></a>
									<ul class="vertical menu">
										<li><a href="/ueberuns/" data-res="navTeamTeam"></a></li>
										<li><a href="/ueberuns/mitarbeiten.html" data-res="navTeamWork"></a></li>
									</ul></li>
								<li><a href="/verein.html" data-res="navGuildH"></a></li>
								<li><a href="/kontakt.html" data-res="navContactH"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>