<div class="row">
	<div class="large-12 columns">
		<div class="title-bar" data-responsive-toggle="edu_topbar" data-hide-for="medium">
			<button class="dark menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>
		<div data-sticky-container>
			<div class="top-bar" id="edu_topbar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="box:bottom">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li id="nav-img"><a href="index.html"><img src="assets\img\educat_logo.png"></a></li>
						<li class="menu-text" id="nav-main-text"><a href="index.html">educat e.V.</a></li>
						<li>
							<a href="veranstaltungen.html">Veranstaltungen</a>
							<ul class="vertical menu">
								<li><a href="ostern2017.html">Ostercamp 2017</a></li>
								<li><a href="sc2017.html">Science Camp 2017</a></li>
							</ul>
						</li>
						<li><a href="ueberuns.html">Wir</a></li>
						<li><a href="verein.html">Verein</a></li>
						<li><a href="kontakt.html">Kontakt</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
